name: auto sync main branch from llvm-project to llvm test1

on:
  workflow_dispatch:
  schedule:
  - cron: '0 * * * *'
jobs:
   check:
     runs-on: ubuntu-latest
     strategy:
       fail-fast: false

     steps:
     - uses: actions/checkout@v2
       with:
         fetch-depth: 0
         path: src
     - name: Sync
       env:
        BRANCH: "main"
        BASE_REPO: git@github.com:hanzhan1/llvm.git
        SYNC_REPO: https://github.com/llvm/llvm-project
       run: |
         cd $GITHUB_WORKSPACE/src
         if [ ! -z "$(git status --porcelain)" ]; then
            git status
            echo "$BRANCH workspace dirty, abort"
            return 1
          fi
          echo "check whether main branch exists"
          branch_exist=`git ls-remote --heads origin main | wc -l`
          if [ $branch_exist -ne 0 ]; then
              echo "ready to git pull"
              git checkout $BRANCH
              git pull --ff --ff-only $SYNC_REPO $BRANCH
              if [ $? -ne 0 ]; then
                  echo "failed to pull from $SYNC_REPO $BRANCH, abort"
                  return 1
              fi
              git_status=`git rev-list --count --left-right origin/$BRANCH...$BRANCH`
              if [ "0	0" == "$git_status" ] ; then
                  echo "no change, skip"
              elif [ "0	"* == "$git_status" ] ; then
                  git push origin
              else
                  echo "$BRANCH branch invalid state"
                  return 1
              fi
          else
              echo "ready to checkout new branch $BRANCH"
              git remote add upstream $SYNC_REPO
              git fetch upstream
              git checkout -B $BRANCH upstream/$BRANCH
              git push origin
          fi
          
          echo "pull finished"
          
