name: auto sync main branch from llvm-project to llvm test1

on:
  workflow_dispatch:
  schedule:
  - cron: '0 * * * *'
jobs:
   check:
     runs-on: ubuntu-latest
     strategy:
       fail-fast: false

     steps:
     - uses: actions/checkout@v2
       with:
         path: src
     - name: Sync
       env:
        BRANCH: "main"
        BASE_REPO: git@github.com:hanzhan1/llvm.git
        SYNC_REPO: https://github.com/llvm/llvm-project
       run: |
         get_state() {
              local count="$(git rev-list --count --left-right $1...$2)"
              case "$count" in
                  "") # no upstream
                      echo "noUpstream"
                      false
                      ;;
                  "0	0")
                      echo "equal"
                      true 
                      ;;
                  "0	"*)
                      echo "ahead"
                      true
                      ;;
                  *"	0")
                      echo "behind"
                      true
                      ;;
                  *)
                      echo "diverged"
                      true
                      ;;
              esac
         }
         cd $GITHUB_WORKSPACE/src
         echo "test"
         if [ ! -d ".git" ]; then
            rm -rf ./*
            rm -rf ./.*
            git clone --progress $BASE_REPO
         fi
         if [ ! -z "$(git status --porcelain)" ]; then
            git status
            echo "$BRANCH workspace dirty, abort"
            return 1
          fi
          echo "ready to checkout main branch"
          pwd
          ls
          git branch -a
          git checkout -B $BRANCH
          echo "ready to pull SYNC REPO BRANCH"
          git pull --ff --ff-only $SYNC_REPO $BRANCH
          if [ $? -ne 0 ]; then
              echo "failed to pull from $SYNC_REPO $BRANCH, abort"
              return 1
          fi
          if [ "equal" == "$(get_state origin/$BRANCH $BRANCH)" ] ; then
              echo "no change, skip"
          elif [ "ahead" == "$(get_state origin/$BRANCH $BRANCH)" ] ; then
              git push origin
          else
              echo "$BRANCH branch invalid state"
              return 1
          fi
